# Django's framework
Django>=4.0
psycopg2>=2.8

# Django Rest Framework
djangorestframework
markdown
django-filter

# Django Rest Auth
dj-rest-auth

# Lyting and debugging
pylama
ptvsd
ipython

# Others
requests